@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

#expert {
  background: url(./assets/bg1.svg), url(./assets/bg2.svg);
  background-position: center center, top right;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.orange-radial {
  margin-top: 8rem;
  border: 0;
  height: 4px;
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    #ff6400 0%,
    rgba(254, 142, 34, 0) 100%
  );
}

.white-radial {
  margin-block: 2rem;
  border: 0;
  height: 4px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.slick-dots li button:before {
  color: #ddf7e3; /* Change the color of the dots */
  font-size: 15px; /* Change the size of the dots */
}
.slick-dots li.slick-active button:before {
  color: #ffa451; /* Change the color of the active dot */
}

.slick-dots {
  bottom: -40px;
}

/* Footer links */
.footer-links li {
  @apply text-neutral-200;
}

.footer-links li:nth-child(-n + 2) {
  @apply text-xl /* 20px */;
}

@media (min-width: 768px) {
  .footer-links li:nth-child(n + 3):nth-child(-n + 5) {
    @apply text-xl /* 20px */;
    @apply text-gray-50;
  }
}
