@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

#expert {
  background: url(./assets/bg1.svg), url(./assets/bg2.svg);
  background-position: center center, top right;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.orange-radial {
  margin-top: 8rem;
  border: 0;
  height: 4px;
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    #ff6400 0%,
    rgba(254, 142, 34, 0) 100%
  );
}

.white-radial {
  margin-block: 2rem;
  border: 0;
  height: 4px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
