@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

#expert {
  background: url(./assets/bg1.png), url(./assets/bg2.png);
  background-position: center center, top right;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.custom-radial {
  margin-top: 6rem;
  border: 0;
  height: 4px;
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    #ff6400 0%,
    rgba(254, 142, 34, 0) 100%
  );
}
